<h2 id="title">Welcome to Ember.js</h2>

<section id="description">
	<p>Application de test et présentation du framework Ember.Js</p>
</section>

<section id='nav' class="nav nav-tabs">
	<div class="navbar">
	<div class="navbar-inner">
	<span>
	{{#link-to 'application' classNames="" }}Home{{/link-to}}
	</span>
	<span>
	{{#link-to 'users' classNames="" }}Users{{/link-to}}
	</span>
	<span>
	{{#link-to 'add-user' classNames="" }}AddUser{{/link-to}}
	</span>
	</div>
</div>
</section>


<section id='main'>
	{{outlet}}
</section>

