<p>Utilisateurs</p>

<p>Recherche sur Nom</p>

<div id='user-list' class='list'>
	<ul class="list-group">
	{{#each user in model}}
		<li class="list-group-item">
			{{user.nom}}
			{{user.prenom}}
			{{user.telephone}}
		</li>
	{{/each}}
	</ul>
</div>